@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron" style="border-radius: 0; padding: 50px 0px; background-color: #1a1a1a; color: lightgrey; margin: 0">
    <div class="container">
        <h1 class="text-uppercase">About us</h1>
        <h3 class="lead text-capitalize" style="margin-left: 130px">Here you can read some information about House Rent!</h3>
    </div>
</div>
<div class="row" style="margin: 50px 35px">
    <div class="col-md-12">
        <h2 style="margin-bottom: 20px" align="center">Information</h2>
        <p align="center">We are a new company from 2018 which gives new houses for renting.</p>
        <p align="center"><u>Why to choose us?</u> Here are five reasons:</p>
        <ul class="list-group">
            <li class="list-group-item active">1. <i>Luxury houses!</i></li>
            <li class="list-group-item">2. <i>Great price range - houses available for every customer!</i></li>
            <li class="list-group-item">3. <i>Great maintenance!</i></li>
            <li class="list-group-item">4. <i>Fully furnished!</i></li>
            <li class="list-group-item">5. <i>Many happy customers!</i></li>
        </ul>
    </div>
</div>
<div class="row" style="margin: 50px 35px">
    <div class="col-md-12">
        <h2 style="margin-bottom: 20px" align="center">Here you can find us on the map!</h2>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30252.53145133611!2d24.73498374204606!3d42.14171738554772!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14acd1b737c83041%3A0x4b859e8be8490ec7!2sPlovdiv+Center%2C+Plovdiv!5e0!3m2!1sen!2sbg!4v1520350045719" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</div>
