@{
    ViewBag.Title = "HouseRent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row" style="margin: 0; padding: 0; width: 100%">
    
    <img src=" ~/Content/images/house1.jpg" class="img-responsive">
    <div style="position: absolute; top: 15%; left: 20%; color: lightgray; text-shadow: 1px 1px 5px #000000">
        <h1 class="text-uppercase">House Rent</h1>
        <h2 class="lead text-capitalize"><i>Here you can rent whatever house you like!</i></h2>
    </div>
</div>
<div class="container-fluid" style="margin: 50px 35px">
    <div class="row">
        <div class="col-md-6">
            <h2>Find your House</h2>
            <p>
                Here you can find the house you like the most and can rent it for a period of time which is
                chosen by you! We have houses perfect for vacantions , business meetings , parties and many more...
                You would ask about the price ?
                Don't worry :) We have houses for the riches and for the ordinary people as well.
            </p>
        </div>
        <div class="col-md-6">
            <h2>Make an account</h2>
            <p>
                Before you start you have to make an account (register) in order to rent a house.
                Without a registration you can only look but cannot rent anything. Make a
                registation and look all the cool places we offer.
            </p>
        </div>
    </div>
    <div class="row" style="margin: 44px 0;"></div>
    <div class="row">
        <h2 align="center" style="margin-bottom:30px">Some Comments</h2>
        <div class="col-md-4">
            <blockquote>
                <p>Very cool site! I am glad that i rent a house from here!</p>
                <footer>Benedict Willson</footer>
            </blockquote>
        </div>
        <div class="col-md-4">
            <blockquote>
                <p>I rent a house for my bussiness meeting from here last month it was great. I didn't have any problems with it!</p>
                <footer>Peter Aizenhawer</footer>
            </blockquote>
        </div>
        <div class="col-md-4">
            <blockquote>
                <p>From here i rent a house for my family vacation and it was in a grat condition. No problems, excellent maintenance.</p>
                <footer>Mike Shaw</footer>
            </blockquote>
        </div>
    </div>
</div>
