@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row" style="margin: 0; padding: 0; width: 100%">
    <img src="https://i.pinimg.com/originals/29/ba/b2/29bab2e14d00f5349960d21cea79104f.jpg" class="img-responsive">
    <div style="position: absolute; top: 15%; left: 20%; color: lightgray; text-shadow: 1px 1px 5px #000000">
        <h1 class="text-uppercase">News</h1>
        <h2 class="lead text-capitalize"><i>Here you can read the latest news about our company</i></h2>
    </div>
</div>
<div class="row" align="center" style="margin: 50px 35px">
    <div class="col-md-6">
        <h3>Leatest news about our houses</h3>
        <p>
            One of the best nightlife places in the United States is New York. If you feel like a party person then you are on the right site! Lucky for you we have houses perfect for your party weekend with friends. You can chech our proposals under the Houses section in the main menu.
        </p>
    </div>
    <div class="col-md-6">
        <h3>House of the week !</h3>
        <p>
            Located in the master-planned community of Palmera Ridge, where residents enjoy parks, ponds, native trees and an amenity center, the Plan 204 by Highland Homes is the perfect place to get away from the hustle and bustle of city life.
        <p>
    </div>
</div>
